body nav ul #logo {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0 1em 0 1em;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.8em;
  line-height: 1.8em;
}

header {
  display: none !important;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0px !important;
  padding: 0px !important;
}

body nav {
  background-color: yellow;
  width: 100%;
  padding: 1em;
  border-bottom: 4px solid #d3d3d3;
}

body nav ul {
  margin: 0px !important;
  padding: 0px !important;
  flex-direction: row;
  flex-wrap: wrap;

  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search a {
  margin-left: 10px;
  display: inline-block;
}

body nav ul li:last-child {
  margin-right: 10px;
}

body nav ul li {
  display: inline-block;
  margin-left: 10px;
}

body nav ul li a {
  text-decoration: none !important;
}

main {
  display: grid !important;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto;
}

article {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

aside {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

main .ads {
  background-color: azure;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.grid_item {
}

section {
  min-height: 35em;
  height: auto;
  display: block;
  margin: 1em;
}

section .img_wrapper img {
  height: 100%;
  width: auto;
  border: 5px solid black;
}

section .img_wrapper {
  width: 50%;
  display: block;
  clear: both;
  float: left;
}

section .post_tags {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 50%;
  display: block;
  clear: right;
  float: right;
}

section .post_bottom {
  margin-top: 1.5em !important;
  clear: both;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

footer {
  margin: 0;
  padding: 0;
  display: block;
  background-color: blue;
  bottom: 0;
  width: 100%;
  height: 50px;
}

main aside {
  margin: 1em;
}

main aside .categories {
  max-width: 17.9%;
  position: fixed;
  background-color: honeydew;
  padding: 0.5em;
  border: 2px solid black;
}

main .ads .author_info {
  padding: 1em;
  color: white;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transform: translateY(1rem);
  max-width: 18% !important;
  min-width: 18% !important;
  position: fixed !important;
  background-color: #212529;
  border: 3px solid palevioletred;
}

main .ads .author_info p {
  font-size: 0.5em;
}

.author_info .github {
  line-height: 0.5em;
  display: inline-flex;
  justify-content: start;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.author_info .github p {
  padding-top: 2.2em;
}

@media (max-width: 1000px) {
  main .ads .author_info {
    display: none;
    max-width: 26.2% !important;
    min-width: 26.2% !important;
  }
  main aside .categories {
    max-width: 27.2%;
  }
  main {
    grid-template-columns: 30% auto;
  }
  .ads {
    display: none;
  }
}

@media (max-width: 1090px) {
  section .post_tags {
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    float: none;
    flex-direction: row;
  }
  section .img_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  section .img_wrapper img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  main {
    display: block !important;
  }
  aside {
    display: none !important;
  }
}
